@font-face {
  font-family: 'AvenirNextRegular';
  src: url("./../fonts/avenir-next/AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: 'AvenirNextBold';
  src: url("./../fonts/avenir-next/AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: 'WorkSansBold';
  src: url("./../fonts/WorkSans/WorkSans-Bold.ttf");
}

@font-face {
  font-family: 'WorkSansMedium';
  src: url("./../fonts/WorkSans/WorkSans-Medium.ttf");
}

@font-face {
  font-family: 'WorkSansRegular';
  src: url("./../fonts/WorkSans/WorkSans-Regular.ttf");
}

@font-face {
  font-family: 'RobotoBold';
  src: url("./../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: 'RobotoRegular';
  src: url("./../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'SFCompactTextBold';
  src: url("./../fonts/SF-Compact-Text/SF-Compact-Text-Bold.ttf");
}

@font-face {
  font-family: 'SFCompactTextMedium';
  src: url("./../fonts/SF-Compact-Text/SF-Compact-Text-Medium.ttf");
}

@font-face {
  font-family: 'SFCompactTextRegular';
  src: url("./../fonts/SF-Compact-Text/SF-Compact-Text-Regular.ttf");
}

/*Scrollbar*/
body, #App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*LOGIN PAGE AND CHILDREN*/
#loginpage {
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#logincompany {
  width: auto;
  height: auto;
  position: absolute;
  top: 107.67px;
  left: 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#loginlogo {
  width: 24.75px;
  height: 25px;
  margin-right: 10.58px;
}

#loginlogoname {
  width: 138.44px;
  height: 36px;
}

#loginimg {
  position: absolute;
  top: 281px;
  left: 67px;
  width: 600px;
  height: 337.57px;
}

#form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 704px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 100px;
}

#loginwelcome {
  font-family: 'AvenirNextBold';
  font-size: 40px;
  line-height: 55px;
  letter-spacing: -0.04em;
  color: #213F7D;
}

#loginformtext {
  font-family: 'AvenirNextRegular';
  font-size: 20px;
  line-height: 27px;
  color: #545F7D;
  margin-top: 10px;
  margin-bottom: 60px;
}

p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: auto;
  margin-bottom: 24px;
}

.logininput {
  width: 447px;
  height: 50px;
  background: rgba(255, 255, 255, 0);
  padding: 16px 17.5px;
  border: 2px solid rgba(84, 95, 125, 0.15);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  font-family: 'AvenirNextRegular';
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #545F7D;
  opacity: 0.6;
}

.logininput:hover {
  cursor: pointer;
}

#loginshowhide {
  margin-right: 10px;
  height: auto;
  width: 49.41px;
  cursor: pointer;
  font-family: 'AvenirNextRegular';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #39CDCC;
  z-index: 100;
  position: absolute;
}

#loginshowhide:hover {
  cursor: pointer;
}

#loginforgotpass {
  font-family: 'AvenirNextRegular';
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #39CDCC;
  margin-bottom: 30px;
}

#loginforgotpass:hover {
  cursor: pointer;
}

#loginsubmit {
  width: 447px;
  height: 48px;
  background: #39CDCC;
  border: none;
  border-radius: 8px;
  font-family: 'AvenirNextRegular';
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

#loginsubmit:hover {
  cursor: pointer;
}

/*TopNav*/
#topnav {
  width: 100vw;
  height: 100px;
  padding: 0px 52px 0px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
          box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
}

#complogodiv {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#complogo {
  width: 20.63px;
  height: 20.84px;
}

#complogoname {
  width: 115.37px;
  height: 30px;
  margin-left: 8.81px;
}

#searchdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 168.2px;
}

#searchinput {
  width: 344px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(255, 255, 255, 0);
  padding: 0px 20px;
  opacity: 0.2;
  border: 1px rgba(33, 63, 125, 0.2) solid;
  border-radius: 8px;
  font-family: 'WorkSansRegular';
  font-size: 14px;
  line-height: 16px;
  color: #545F7D;
  opacity: 0.7;
}

#search {
  background-color: #39CDCC;
  width: 56px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 10px;
  margin-left: -56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0px 8px 8px 0px;
}

#search img {
  width: 14px;
  height: 14px;
}

#topright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 378.03px;
}

#docs {
  font-family: 'RobotoRegular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #213F7D;
}

#docs:hover {
  cursor: pointer;
}

#bell {
  margin-left: 50px;
  width: 19.67px;
  height: 22.74px;
}

#bell:hover {
  cursor: pointer;
}

#avatardiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 33.16px;
}

#avatardiv:hover {
  cursor: pointer;
}

#avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

#avatarname {
  margin-left: 10px;
  font-family: 'WorkSansRegular';
  font-size: 16px;
  line-height: 19px;
  color: #213F7D;
}

#avatardrop {
  margin-left: 10px;
  width: 7.34px;
  height: 4.15px;
}

/*Left Side Bar*/
#leftsidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 286px;
  height: 85vh;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  height: 85vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 39px 0px 20px 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.lsoptionspecial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
  min-height: 40px;
  max-height: 40px;
  width: 95%;
}

.lsoptionspecial img {
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

.lsoptionspecial div {
  font-family: 'WorkSansRegular';
  font-size: 14px;
  line-height: 19px;
  color: #213F7D;
  margin-left: 10px;
}

.lsoptionspecial:hover {
  cursor: pointer;
}

#drop2 {
  width: 6.57px;
  height: 11.21px;
}

.lsoptionnormal {
  width: 283px;
  min-height: 40px;
  max-height: 40px;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lsoptionnormal img {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.lsoptionnormal div {
  font-family: 'WorkSansRegular';
  font-size: 14px;
  line-height: 19px;
  color: #213F7D;
  margin-left: 10px;
}

.lsoptionnormal:hover {
  cursor: pointer;
}

#lsoheader {
  font-family: 'WorkSansMedium';
  font-size: 12px;
  margin: 30px 0px 5px 10px;
  line-height: 14px;
  color: #545F7D;
}

/*Users Page*/
#userspage {
  padding: 60px 40px 50px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 85vh;
}

#userspageheader {
  font-family: 'WorkSansMedium';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #213F7D;
  margin-bottom: 40px;
}

#usersxcont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 72.67px;
}

.uxdiv {
  width: 240px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0px 30px 30px;
  background: #FFFFFF;
  border: 1px solid rgba(33, 63, 125, 0.06);
  -webkit-box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
          box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}

.uximg {
  width: 40px;
  height: 40px;
}

.uxtext {
  font-family: 'WorkSansRegular';
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #545F7D;
}

.uxnum {
  font-family: 'WorkSansBold';
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #213F7D;
}

#tablediv {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(33, 63, 125, 0.06);
  -webkit-box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
          box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 30px 20px;
}

.tableimg {
  width: 16px;
  height: 10.67px;
  margin-left: 10px;
}

table {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

table, th, td {
  border-collapse: collapse;
}

th {
  font-family: 'WorkSansMedium';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #545F7D;
  padding-bottom: 15px;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

td {
  font-family: 'WorkSansRegular';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding: 21px 0px 23px 0px;
  color: #545F7D;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-bottom: 1px rgba(33, 63, 125, 0.1) solid;
}

.status {
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'WorkSansRegular';
  margin: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.activestatus {
  color: #39CD62;
  background: rgba(57, 205, 98, 0.06);
  width: 70px;
  height: 30px;
}

.pendingstatus {
  color: #E9B200;
  background: rgba(233, 178, 0, 0.1);
  width: 90px;
  height: 30px;
}

.inactivestatus {
  background: rgba(84, 95, 125, 0.06);
  color: #545F7D;
  width: 80px;
  height: 30px;
}

.blacklistedstatus {
  color: #E4033B;
  background: rgba(228, 3, 59, 0.1);
  width: 100px;
  height: 30px;
}

#userpagebtm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 26px;
}

#upbleft {
  font-family: 'WorkSansRegular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #545F7D;
}

#upbselect {
  display: inline;
  vertical-align: center;
  margin: 0px 8px;
  width: 70px;
  height: 30px;
  background: rgba(33, 63, 125, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 10px;
  border-radius: 4px;
  border: none;
  color: #213F7D;
}

#upbselect:hover {
  cursor: pointer;
}

.upbopt {
  border: none;
  font-family: 'WorkSansRegular';
  color: #213F7D;
  height: 30px;
}

#upbright {
  width: 262px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upbarrow {
  width: 24px;
  height: 24px;
}

.upbarrow:hover {
  cursor: pointer;
}

.upbnum {
  font-family: 'WorkSansRegular';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #545F7D;
  opacity: 0.6;
}

.upbactivenum {
  font-family: 'WorkSansRegular';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #545F7D;
}

/*User Details*/
#userdetailspage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100vw;
  height: 85vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 70px 60px 50px 60px;
}

#back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'WorkSansRegular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #545F7D;
}

#backimg {
  margin-right: 14.4px;
  width: 26.7px;
  height: 9.4px;
}

#udptop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  margin-top: 26px;
}

#udpleft {
  font-family: 'WorkSansMedium';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #213F7D;
}

#udpright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#udpright button {
  font-family: 'WorkSansMedium';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #FFFFFF;
  width: 170px;
  height: 40px;
  border-radius: 8px;
  margin-left: 20px;
}

#udpright button:hover {
  cursor: pointer;
}

#blacklistuserbtn {
  border: 1px solid #E4033B;
  color: #E4033B;
}

#activateuserbtn {
  border: 1px solid #39CDCC;
  color: #39CDCC;
}

#udpmiddle {
  width: 100%;
  height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 30px 0px 30px;
  background: #FFFFFF;
  border: 1px solid rgba(33, 63, 125, 0.06);
  -webkit-box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
          box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  margin-top: 40px;
}

#udpmtop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 51px;
}

#udpmavatar {
  width: 100px;
  height: 100px;
}

.udpmdiv {
  padding: 0px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.udpmdiv div {
  margin-bottom: 10px;
}

#udpmname {
  font-family: 'WorkSansMedium';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #213F7D;
}

#udpmid {
  font-family: 'WorkSansRegular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #545F7D;
}

#usertier {
  font-family: 'WorkSansMedium';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #545F7D;
}

#udpmstarcont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'WorkSansMedium';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #545F7D;
  width: 100%;
}

#udpmstarcont img {
  width: 14px;
  height: 14px;
  margin-right: 5.5px;
}

#udpmcash {
  font-family: 'WorkSansMedium';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #213F7D;
}

#udpmbank {
  font-family: 'WorkSansRegular';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #213F7D;
}

#udpmbtm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.udpmlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16%;
  height: 29px;
  font-family: 'SFCompactTextRegular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.udpmlist:hover {
  cursor: pointer;
}

.udpmlistactive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'WorkSansMedium';
  width: 16%;
  height: 29px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #39CDCC;
  border: none;
  border-bottom: 2px solid #39CDCC;
}

.udpmlistactive:hover {
  cursor: pointer;
}

#udpbtm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px 30px 0px 30px;
  width: 100%;
  height: auto;
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(33, 63, 125, 0.06);
  -webkit-box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
          box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  margin-top: 30px;
}

.udpbrow {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: none;
  border-bottom: 1px solid rgba(33, 63, 125, 0.1);
  margin-bottom: 30px;
}

.udpbheader {
  font-family: 'WorkSansMedium';
  font-style: normal;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #213F7D;
}

.udpbbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.udpbcell {
  min-width: 18%;
  max-width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.udpbtop {
  font-family: 'WorkSansRegular';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #545F7D;
  margin-bottom: 8px;
}

.udpbbtm {
  font-family: 'WorkSansMedium';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #545F7D;
}

/*Others*/
#dashboardpage {
  background: #FBFBFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

#mainbody {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 85vh;
  overflow-y: hidden;
  overflow-x: hidden;
}
/*# sourceMappingURL=App.css.map */