@import './functions.scss';
@import './fonts.scss';


@media only screen and (min-width: 1024px){
    /*Scrollbar*/
    #leftsidebar::-webkit-scrollbar{width:5px;}
    #leftsidebar::-webkit-scrollbar-track{ background:#FFFFFF; }
    #leftsidebar::-webkit-scrollbar-thumb{ 
        background: #545F7D; border-radius:5px; transition-duration:0.25s; 
        &:hover{ cursor:pointer; background: #213F7D; }
    }



    body, #App{
        width:100vw; height:100vh; margin:0; padding:0; overflow-y:hidden; overflow-x:hidden;
        @include flex(row, flex-start, flex-start); box-sizing:border-box;
    }

    /*LOGIN PAGE AND CHILDREN*/
    #loginpage{
        width:100vw; height:100vh; box-sizing:border-box; position:relative;
        @include flex(row, flex-end, flex-start);
    }

    #logincompany{
        width:auto; height:auto; position:absolute;
        top:107.67px; left:97px; @include flex(row, flex-start, center);
    }

    #loginlogo{ width:24.75px; height:25px; margin-right:10.58px; }
    #loginlogoname{ width:138.44px; height:36px; }
    #loginimg{ position:absolute; top:281px; left:67px; width:600px; height:337.57px; }

    #form{
        @include flex(column, center, flex-start); width:704px; height:100%; box-sizing:border-box;
        padding:0px 100px;
    }

    #loginwelcome{
        font-family: 'AvenirNextBold';
        font-size: 40px;
        line-height: 55px;
        letter-spacing: -0.04em;
        color: #213F7D;
    }

    #loginformtext{
        font-family: 'AvenirNextRegular';
        font-size: 20px;
        line-height: 27px;
        color: #545F7D;
        margin-top:10px; margin-bottom:60px;
    }

    p{ @include flex(row, flex-end, center); width:auto; height:auto; margin-bottom:24px;}

    .logininput{
        width:447px; height:50px; background:rgba(255,255,255,0); padding:16px 17.5px;
        border: 2px solid rgba(84, 95, 125, 0.15); box-sizing:border-box;
        border-radius: 5px;

        font-family: 'AvenirNextRegular';
        font-size: 14px; font-weight:400;
        line-height: 19px;
        color: #545F7D;
        opacity: 0.6;
        &:hover{ cursor:pointer; }
    }

    #loginshowhide{
        margin-right:10px; height:auto;
        width: 49.41px; cursor:pointer;
        font-family: 'AvenirNextRegular';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #39CDCC; z-index:100;
        &:hover{ cursor:pointer; } position:absolute;
    }

    #loginforgotpass{
        font-family: 'AvenirNextRegular';
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        text-align: right;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #39CDCC; margin-bottom:30px;
        &:hover{ cursor:pointer; }
    }

    #loginsubmit{
        width:447px; height:48px;
        background: #39CDCC; border:none;
        border-radius: 8px;

        font-family: 'AvenirNextRegular';
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;

        &:hover{ cursor:pointer; }
    }

    /*TopNav*/
    #topnav{
        width:100vw; height:100px; padding:0px 52px 0px 30px; box-sizing:border-box; 
        @include flex(row, space-between, center); background: #FFFFFF;
        box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
    }

    #complogodiv{
        width:auto; height:auto; @include flex(row, flex-start, center);  
    }

    #complogo{
        width:20.63px; height:20.84px;  
    }

    #complogoname{
        width:115.37px; height:30px; margin-left:8.81px;  
    }

    #searchdiv{
        @include flex(row, flex-start, center);
        margin-left:168.2px;
    }

    #searchinput{
        width:344px; height:40px; box-sizing:border-box;
        background:rgba(255,255,255,0); padding:0px 20px;
        opacity: 0.2;
        border: 1px rgba(33, 63, 125, 0.2) solid;
        border-radius:8px;

        font-family: 'WorkSansRegular';
        font-size: 14px;
        line-height: 16px;
        color: #545F7D;
        opacity: 0.7;
    }

    #search{
        background-color:#39CDCC; width:56px; height:40px; box-sizing:border-box;
        z-index:10px; margin-left:-56px;
        @include flex(row, center, center); border-radius:0px 8px 8px 0px;
        img{
            width:14px; height:14px;
        }
    }

    #topright{
        @include flex(row, flex-end, center); margin-left:378.03px;
    }

    #docs{ 
        font-family: 'RobotoRegular';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-decoration-line: underline;
        color: #213F7D;
        &:hover{cursor:pointer;}
    }

    #bell{
        margin-left:50px; width:19.67px; height:22.74px;
        &:hover{cursor:pointer;}
    }

    #avatardiv{
        @include flex(row, flex-end, center); margin-left:33.16px;
        &:hover{cursor:pointer;}
    }

    #avatar{
        width:48px; height:48px; border-radius:50%;
    }

    #avatarname{
        margin-left:10px; 
        font-family: 'WorkSansRegular';
        font-size: 16px;
        line-height: 19px;
        color: #213F7D;
    }

    #avatardrop{
        margin-left:10px; width:7.34px; height:4.15px;
    }

    /*Left Side Bar*/
    #leftsidebar{
        @include flex(column, flex-start, flex-start); width:286px; background: #FFFFFF;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04); height:85vh; box-sizing:border-box; padding:39px 0px 20px 20px;
        overflow-y:auto; overflow-x:hidden;
    }

    .lsoptionspecial{
        @include flex(row, flex-start, center); margin-bottom:35px; min-height:40px; max-height:40px; width:95%;
        img{ width:16px; height:16px; margin-left:5px; }

        div{
            font-family: 'WorkSansRegular';
            font-size: 14px;
            line-height: 19px;
            color: #213F7D;
            margin-left:10px;
        }
        &:hover{cursor:pointer;}
    }

    #drop2{ width:6.57px; height:11.21px; }

    .lsoptionnormal{
        width:283px; min-height:40px; max-height:40px; margin-top:5px;
        @include flex(row, flex-start, center);
        img{ width:16px; height:16px; margin-left:10px; }

        div{
            font-family: 'WorkSansRegular';
            font-size: 14px;
            line-height: 19px;
            color: #213F7D;
            margin-left:10px;
        }
        &:hover{cursor:pointer;}
    }

    .lsoptionactive{
        width:283px; min-height:40px; max-height:40px; margin-top:5px;
        background-color:rgba(57, 205, 204, 0.06);
        border:none; border-left:2px solid #39CDCC;
        @include flex(row, flex-start, center);
        img{ width:16px; height:16px; margin-left:10px; }

        div{
            font-family: 'WorkSansRegular';
            font-size: 14px;
            line-height: 19px;
            color: #213F7D;
            margin-left:10px;
        }
        &:hover{cursor:pointer;}
    }

    #lsoheader{ 
        font-family: 'WorkSansMedium';
        font-size: 12px; margin:30px 0px 5px 10px;
        line-height: 14px;
        color: #545F7D;
    }

    /*Users Page*/
    #userspage{
        @include flex(column, flex-start, flex-start); width:100vw; height:85vh; box-sizing:border-box;
        overflow-y:auto; overflow-x:hidden; padding:60px 40px 50px 40px;
    }

    #userspageheader{
        font-family: 'WorkSansMedium';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #213F7D; margin-bottom:40px;
    }

    #usersxcont{
        @include flex(row, space-between, center);
        width:100%; box-sizing:border-box; margin-bottom:72.67px;
    }

    .uxdiv{
        width:240px; height:160px; @include flex(column, space-between, flex-start); box-sizing:border-box;
        padding:20px 0px 30px 30px; background: #FFFFFF; border: 1px solid rgba(33, 63, 125, 0.06);
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04); border-radius: 4px;
    }

    .uximg{ width:40px; height:40px; }
    .uxtext{ 
        font-family: 'WorkSansRegular';
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #545F7D; 
    }
    .uxnum{ 
        font-family: 'WorkSansBold';
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: #213F7D; 
    }

    #tablediv{
        width:100%; height:auto; @include flex(row, flex-start, flex-start);
        background: #FFFFFF; box-sizing:border-box;
        border: 1px solid rgba(33, 63, 125, 0.06);
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
        border-radius: 4px; padding:30px 20px;
    }

    .tableimg{ width:16px; height:10.67px; margin-left:10px; }

    table{ width:100%; height:auto; box-sizing:border-box; }

    table, th, td{ border-collapse:collapse; }

    tr{
        th:nth-child(1){width:17%;}
        th:nth-child(2){width:14%;}
        th:nth-child(3){width:22%;}
        th:nth-child(4){width:16%;}
        th:nth-child(5){width:17%;}
        th:nth-child(6){width:12%;}

        td:nth-child(1){width:17%;}
        td:nth-child(2){width:14%;}
        td:nth-child(3){width:22%;}
        td:nth-child(4){width:16%;}
        td:nth-child(5){width:17%;}
        td:nth-child(6){width:12%;}
        &:hover{ cursor:pointer; }
    }

    th{ 
        font-family: 'WorkSansMedium';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: #545F7D; padding-bottom:15px;
        text-align:left; box-sizing:border-box;
        &:hover{ cursor:pointer; }
    }

    td{ 
        font-family: 'WorkSansRegular';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height:16px; padding:21px 0px 23px 0px; 
        color:#545F7D; text-align:left; box-sizing:border-box;
        border:none; border-bottom:1px rgba(33, 63, 125, 0.1) solid;
    }

    .status{ 
        border-radius: 100px; @include flex(row, center, center);
        font-family: 'WorkSansRegular'; margin:auto;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
    }
    .activestatus{ color:#39CD62; background:rgba(57, 205, 98, 0.06); width:70px; height:30px; }
    .pendingstatus{ color: #E9B200; background:rgba(233, 178, 0, 0.1); width:90px; height:30px; }
    .inactivestatus{ background:rgba(84, 95, 125, 0.06); color:#545F7D; width:80px; height:30px;  }
    .blacklistedstatus{ color: #E4033B; background:rgba(228, 3, 59, 0.1); width:100px; height:30px; }

    .more{ width:3.3px; height:14px; margin-left:8px; &:hover{cursor:pointer;} }

    #userpagebtm{
        @include flex(row, space-between, center); width:100%; box-sizing:border-box; margin-top:26px;
    }

    #upbleft{
        font-family: 'WorkSansRegular';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #545F7D;
    }

    #upbselect{ display:inline; vertical-align:center; margin:0px 8px; width:70px; height:30px;
        background: rgba(33, 63, 125, 0.1); box-sizing:border-box; padding:0px 10px;
        border-radius: 4px; border:none; color:#213F7D; 
        &:hover{ cursor: pointer; }
    }
    .upbopt{ 
        border:none; font-family: 'WorkSansRegular'; color:#213F7D; height:30px; 
    }

    #upbright{
        width:262px; height:24px; @include flex(row, space-between, center)
    }

    .upbarrow{ 
        width:24px; height:24px;
        &:hover{ cursor:pointer;}
    }

    .upbnum{ 
        font-family: 'WorkSansRegular';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #545F7D; opacity:0.6;
    }

    .upbactivenum{
        font-family: 'WorkSansRegular';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #545F7D;
    }

    /*User Details*/
    #userdetailspage{
        @include flex(column, flex-start, flex-start); width:100vw; height:85vh; box-sizing:border-box;
        overflow-y:auto; overflow-x:hidden; padding:70px 60px 50px 60px;
    }

    #back{ 
        @include flex(row, flex-start, center); 
        font-family: 'WorkSansRegular';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #545F7D;
        &:hover{ cursor:pointer;}
    }
    #backimg{ margin-right:14.4px; width:26.7px; height:9.4px; }

    #udptop{
        @include flex(row, space-between, center); width:100%; height:auto; margin-top:26px;
    }

    #udpleft{
        font-family: 'WorkSansMedium';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #213F7D;
    }

    #udpright{
        @include flex(row, flex-end, center);
        button{

            font-family: 'WorkSansMedium';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase; background:#FFFFFF;
            width:170px; height:40px; border-radius:8px; margin-left:20px;
            &:hover{cursor:pointer;}
        }
    }

    #blacklistuserbtn{ border:1px solid #E4033B; color:#E4033B; }
    #activateuserbtn{ border:1px solid #39CDCC; color:#39CDCC; }

    #udpmiddle{
        width:100%; height:210px; @include flex(column, center, flex-start); box-sizing:border-box;
        padding:30px 30px 0px 30px; background: #FFFFFF;
        border: 1px solid rgba(33, 63, 125, 0.06);
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
        border-radius:4px; margin-top:40px;
    }

    #udpmtop{
        @include flex(row, flex-start, center); margin-bottom:51px;
    }

    #udpmavatar{ width:100px; height:100px; }

    .udpmdiv{
        padding:0px 25px; @include flex(column, center, flex-start);
        div{
            margin-bottom:10px;
        }
    }

    #udpmname{
        font-family: 'WorkSansMedium';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        color: #213F7D;
    }

    #udpmid{
        font-family: 'WorkSansRegular';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #545F7D;
    }

    #usertier{
        font-family: 'WorkSansMedium';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #545F7D;
    }

    #udpmstarcont{
        @include flex(row, flex-start, center);
        font-family: 'WorkSansMedium';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #545F7D; width:100%;
        img{
            width:14px; height:14px; margin-right:5.5px;
        }
    }

    #udpmcash{
        font-family: 'WorkSansMedium';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        color: #213F7D;
    }

    #udpmbank{
        font-family: 'WorkSansRegular';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #213F7D;

    }

    #udpmbtm{
        @include flex(row, space-between, center); width:100%; box-sizing:border-box;
    }

    .udpmlist{
        @include flex(column, flex-start, center); 
        width:16%; height:29px;
        font-family: 'SFCompactTextRegular';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: rgba(0, 0, 0, 0.8);
        &:hover{cursor:pointer;}
    }

    .udpmlistactive{
        @include flex(column, flex-start, center);
        font-family: 'WorkSansMedium'; width:16%; height:29px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #39CDCC;
        border:none; border-bottom:2px solid #39CDCC;
        &:hover{cursor:pointer;}
    }


    #udpbtm{
        @include flex(column, flex-start, flex-start); padding:30px 30px 0px 30px;
        width:100%; height:auto; background: #FFFFFF; box-sizing:border-box;
        border: 1px solid rgba(33, 63, 125, 0.06);
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
        border-radius: 4px; margin-top:30px;
    }

    .udpbrow{
        width:100%; height:auto; @include flex(column, flex-start, flex-start);  border:none;
        border-bottom: 1px solid rgba(33, 63, 125, 0.1); margin-bottom:30px;
    }

    .udpbheader{
        font-family: 'WorkSansMedium';
        font-style: normal; margin-bottom:30px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #213F7D;
    }

    .udpbbody{
        @include flex(row, flex-start, flex-start); width:100%; flex-wrap:wrap;
    }

    .udpbcell{
        min-width:20%; max-width:35%; @include flex(column, flex-start, flex-start); margin-bottom:30px; padding:10px 20px; box-sizing:border-box;
    }

    .udpbtop{
        font-family: 'WorkSansRegular';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: #545F7D; margin-bottom:8px;
    }

    .udpbbtm{
        font-family: 'WorkSansMedium';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        color: #545F7D;
    }

    /*Filter Form*/
    #filterform{ 
        width:270px; height:600px; @include flex(column, flex-start, flex-start); box-sizing:border-box; padding:10px 20px; position:fixed; 
        background: #FFFFFF; top:85px;
        border: 1px solid rgba(84, 95, 125, 0.14);
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
    }
    .filterp{@include flex(column, flex-start, flex-start); margin-bottom:5px;}
    .filterlabel{ margin-bottom:6px; font-family: 'WorkSansMedium';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #545F7D;
    }
    .filterinput{
        background: #FFFFFF; padding:12px 10px; box-sizing:border-box;
        width:220px; height:40px;
        border: 1px solid rgba(33, 63, 125, 0.2);
        border-radius: 8px;
        font-family: 'WorkSansRegular';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color:rgba(84, 95, 127, 0.7);
    }
    .filterselect{
        background: #FFFFFF; padding:12px 10px; box-sizing:border-box;
        width:220px; height:40px;
        border: 1px solid rgba(33, 63, 125, 0.2);
        border-radius: 8px;
        font-family: 'WorkSansRegular';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color:rgba(84, 95, 127, 0.7);
        option{
            height:40px;
        }
    }

    #filterbtndiv{
        @include flex(row, space-between, center); width:100%; margin-top:15px;
        div{
            font-family: 'WorkSansRegular'; border-radius: 8px; width: 98px; height: 40px;
            font-style: normal; @include flex(row, center, center);
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            &:hover{ cursor:pointer; }
        }
    }
    #resetbtn{ color:#545F7D; background-color:#FFFFFF; border:1px #545F7D solid;}
    #filterbtn{ color:#FFFFFF; background: #39CDCC; border: 1px solid #39CDCC; }

    /*More*/
    #moreoptdiv{
        box-sizing:border-box; padding:10px 20px; width:180px; position:absolute;
        height:130px; background: #FFFFFF; right:70px; top:200px;
        border: 1px solid rgba(84, 95, 125, 0.04);
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
        border-radius: 4px; @include flex(column, flex-start, flex-start);
    }

    .moreoptrow{
        @include flex(row, flex-start, center); width:100%; margin:10px 0px;
        font-family: 'WorkSansMedium';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #545F7D;
        &:hover{ cursor:pointer; }
    }

    .moreoptimg{ width:15px; height:15px; margin-right:5px; font-family: 'WorkSansMedium';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #545F7D;}


    /*Others*/
    #dashboardpage{ 
        background: #FBFBFB; @include flex(column, flex-start, flex-start);
        overflow-y:hidden; overflow-x:hidden; width:100vw; height:100vh;
    
    }
    #mainbody{
        width:100vw; @include flex(row, flex-start, flex-start); height:85vh;
        overflow-y:hidden; overflow-x:hidden;
    }
}