@font-face {
  font-family: 'AvenirNextRegular';
  src: url("./../fonts/avenir-next/AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: 'AvenirNextBold';
  src: url("./../fonts/avenir-next/AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: 'WorkSansBold';
  src: url("./../fonts/WorkSans/WorkSans-Bold.ttf");
}

@font-face {
  font-family: 'WorkSansMedium';
  src: url("./../fonts/WorkSans/WorkSans-Medium.ttf");
}

@font-face {
  font-family: 'WorkSansRegular';
  src: url("./../fonts/WorkSans/WorkSans-Regular.ttf");
}

@font-face {
  font-family: 'RobotoBold';
  src: url("./../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: 'RobotoRegular';
  src: url("./../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'SFCompactTextBold';
  src: url("./../fonts/SF-Compact-Text/SF-Compact-Text-Bold.ttf");
}

@font-face {
  font-family: 'SFCompactTextMedium';
  src: url("./../fonts/SF-Compact-Text/SF-Compact-Text-Medium.ttf");
}

@font-face {
  font-family: 'SFCompactTextRegular';
  src: url("./../fonts/SF-Compact-Text/SF-Compact-Text-Regular.ttf");
}

@media only screen and (max-width: 500px) {
  body, #App {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  /*LOGIN PAGE AND CHILDREN*/
  #loginpage {
    width: 100vw;
    height: 100vh;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 10px;
  }
  #logincompany {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #loginlogo {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  #loginlogoname {
    width: auto;
    height: 20px;
  }
  #loginimg {
    width: auto;
    height: 200px;
    margin-top: 50px;
  }
  #form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 90%;
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 50px;
  }
  #loginwelcome {
    font-family: 'AvenirNextBold';
    font-size: 24px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #213F7D;
  }
  #loginformtext {
    font-family: 'AvenirNextRegular';
    font-size: 16px;
    color: #545F7D;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  .logininput {
    width: 100%;
    height: 45px;
    background: rgba(255, 255, 255, 0);
    padding: 16px 17.5px;
    border: 2px solid rgba(84, 95, 125, 0.15);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 5px;
    font-family: 'AvenirNextRegular';
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #545F7D;
    opacity: 0.6;
  }
  .logininput:hover {
    cursor: pointer;
  }
  #loginshowhide {
    margin-right: 10px;
    height: auto;
    width: 49.41px;
    cursor: pointer;
    font-family: 'AvenirNextRegular';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #39CDCC;
    z-index: 100;
    position: absolute;
  }
  #loginshowhide:hover {
    cursor: pointer;
  }
  #loginforgotpass {
    font-family: 'AvenirNextRegular';
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #39CDCC;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  #loginforgotpass:hover {
    cursor: pointer;
  }
  #loginsubmit {
    width: 100%;
    height: 48px;
    background: #39CDCC;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    font-family: 'AvenirNextRegular';
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  #loginsubmit:hover {
    cursor: pointer;
  }
  /*TopNav*/
  #topnav {
    width: 100vw;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #FFFFFF;
    -webkit-box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
            box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  }
  #complogodiv {
    width: auto;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #complogo {
    width: 18px;
    height: 18px;
  }
  #complogoname {
    width: auto;
    height: 18px;
    margin-left: 5px;
  }
  #searchdiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 168.2px;
    display: none;
  }
  #searchinput {
    width: 344px;
    height: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: rgba(255, 255, 255, 0);
    padding: 0px 20px;
    opacity: 0.2;
    border: 1px rgba(33, 63, 125, 0.2) solid;
    border-radius: 8px;
    font-family: 'WorkSansRegular';
    font-size: 14px;
    line-height: 16px;
    color: #545F7D;
    opacity: 0.7;
  }
  #search {
    background-color: #39CDCC;
    width: 56px;
    height: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 10px;
    margin-left: -56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 0px 8px 8px 0px;
  }
  #search img {
    width: 14px;
    height: 14px;
  }
  #topright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #docs {
    font-family: 'RobotoRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #213F7D;
    margin-right: 15px;
  }
  #docs:hover {
    cursor: pointer;
  }
  #bell {
    width: 18px;
    height: auto;
    margin-right: 15px;
  }
  #bell:hover {
    cursor: pointer;
  }
  #avatardiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #avatardiv:hover {
    cursor: pointer;
  }
  #avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  #avatarname {
    margin-left: 10px;
    font-family: 'WorkSansRegular';
    font-size: 16px;
    line-height: 19px;
    color: #213F7D;
  }
  #avatardrop {
    width: 7.34px;
    height: 4.15px;
  }
  /*Left Side Bar*/
  #leftsidebar {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100vw;
    height: 100%;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px 0px 20px 20px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    z-index: 1px;
  }
  .lsoptionspecial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    min-height: 40px;
    max-height: 40px;
    width: 95%;
  }
  .lsoptionspecial img {
    width: 16px;
    height: 16px;
    margin-left: 5px;
  }
  .lsoptionspecial div {
    font-family: 'WorkSansRegular';
    font-size: 14px;
    line-height: 19px;
    color: #213F7D;
    margin-left: 10px;
  }
  .lsoptionspecial:hover {
    cursor: pointer;
  }
  #drop2 {
    width: 6.57px;
    height: 11.21px;
  }
  .lsoptionnormal {
    width: 283px;
    min-height: 40px;
    max-height: 40px;
    margin-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .lsoptionnormal img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
  }
  .lsoptionnormal div {
    font-family: 'WorkSansRegular';
    font-size: 14px;
    line-height: 19px;
    color: #213F7D;
    margin-left: 10px;
  }
  .lsoptionnormal:hover {
    cursor: pointer;
  }
  .lsoptionactive {
    width: 283px;
    min-height: 40px;
    max-height: 40px;
    margin-top: 5px;
    background-color: rgba(57, 205, 204, 0.06);
    border: none;
    border-left: 2px solid #39CDCC;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .lsoptionactive img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
  }
  .lsoptionactive div {
    font-family: 'WorkSansRegular';
    font-size: 14px;
    line-height: 19px;
    color: #213F7D;
    margin-left: 10px;
  }
  .lsoptionactive:hover {
    cursor: pointer;
  }
  #lsoheader {
    font-family: 'WorkSansMedium';
    font-size: 12px;
    margin: 30px 0px 5px 10px;
    line-height: 14px;
    color: #545F7D;
  }
  /*Users Page*/
  #userspage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100vw;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 15px 40px 15px;
  }
  #userspageheader {
    font-family: 'WorkSansMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #213F7D;
    margin-bottom: 40px;
  }
  #usersxcont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 40px;
  }
  .uxdiv {
    width: 200px;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid rgba(33, 63, 125, 0.06);
    margin-bottom: 20px;
    -webkit-box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
            box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 15px 0px;
  }
  .uximg {
    width: 35px;
    height: 35px;
  }
  .uxtext {
    font-family: 'WorkSansRegular';
    font-size: 12px;
    text-transform: uppercase;
    color: #545F7D;
  }
  .uxnum {
    font-family: 'WorkSansBold';
    font-size: 16px;
    text-transform: uppercase;
    color: #213F7D;
  }
  #tablediv {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background: #FFFFFF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid rgba(33, 63, 125, 0.06);
    -webkit-box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
            box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 30px 20px;
  }
  .tableimg {
    width: 16px;
    height: 10.67px;
    margin-left: 10px;
  }
  table {
    width: 100%;
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  table, th, td {
    border-collapse: collapse;
  }
  tr th:nth-child(1) {
    display: none;
  }
  tr th:nth-child(2) {
    width: 50%;
  }
  tr th:nth-child(3) {
    display: none;
  }
  tr th:nth-child(4) {
    display: none;
  }
  tr th:nth-child(5) {
    display: none;
  }
  tr th:nth-child(6) {
    width: 45%;
  }
  tr td:nth-child(1) {
    display: none;
  }
  tr td:nth-child(2) {
    width: 50%;
  }
  tr td:nth-child(3) {
    display: none;
  }
  tr td:nth-child(4) {
    display: none;
  }
  tr td:nth-child(5) {
    display: none;
  }
  tr td:nth-child(6) {
    width: 45%;
  }
  th {
    font-family: 'WorkSansMedium';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
    padding-bottom: 15px;
    text-align: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  th:hover {
    cursor: pointer;
  }
  td {
    font-family: 'WorkSansRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    padding: 21px 0px 23px 0px;
    color: #545F7D;
    text-align: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: none;
    border-bottom: 1px rgba(33, 63, 125, 0.1) solid;
  }
  .status {
    border-radius: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'WorkSansRegular';
    margin: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }
  .activestatus {
    color: #39CD62;
    background: rgba(57, 205, 98, 0.06);
    width: 70px;
    height: 30px;
  }
  .pendingstatus {
    color: #E9B200;
    background: rgba(233, 178, 0, 0.1);
    width: 90px;
    height: 30px;
  }
  .inactivestatus {
    background: rgba(84, 95, 125, 0.06);
    color: #545F7D;
    width: 80px;
    height: 30px;
  }
  .blacklistedstatus {
    color: #E4033B;
    background: rgba(228, 3, 59, 0.1);
    width: 100px;
    height: 30px;
  }
  .more {
    width: 3.3px;
    height: 14px;
  }
  .more:hover {
    cursor: pointer;
  }
  #userpagebtm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 26px;
  }
  #upbleft {
    font-family: 'WorkSansRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #545F7D;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #upbselect {
    display: inline;
    vertical-align: center;
    margin: 3px 0px;
    width: 70px;
    height: 30px;
    background: rgba(33, 63, 125, 0.1);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0px 10px;
    border-radius: 4px;
    border: none;
    color: #213F7D;
  }
  #upbselect:hover {
    cursor: pointer;
  }
  .upbopt {
    border: none;
    font-family: 'WorkSansRegular';
    color: #213F7D;
    height: 30px;
  }
  #upbright {
    width: 200px;
    height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .upbarrow {
    width: 20px;
    height: 20px;
  }
  .upbarrow:hover {
    cursor: pointer;
  }
  .upbnum {
    font-family: 'WorkSansRegular';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #545F7D;
    opacity: 0.6;
  }
  .upbactivenum {
    font-family: 'WorkSansRegular';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #545F7D;
  }
  /*User Details*/
  #userdetailspage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100vw;
    height: 85vh;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 10px 15px 10px;
  }
  #back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'WorkSansRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #545F7D;
  }
  #back:hover {
    cursor: pointer;
  }
  #backimg {
    margin-right: 5px;
    width: 24px;
    height: auto;
  }
  #udptop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: auto;
    margin-top: 30px;
  }
  #udpleft {
    font-family: 'WorkSansMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #213F7D;
  }
  #udpright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 160px;
    height: 100px;
  }
  #udpright button {
    font-family: 'WorkSansMedium';
    font-style: normal;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-weight: 600;
    font-size: 14px;
    min-width: 140px;
    max-width: 140px;
    padding: 8px 0px;
    text-align: center;
    height: 40px;
    text-transform: uppercase;
    background: #FFFFFF;
    width: auto;
    height: auto;
    border-radius: 8px;
    margin-left: 5px;
  }
  #udpright button:hover {
    cursor: pointer;
  }
  #blacklistuserbtn {
    border: 1px solid #E4033B;
    color: #E4033B;
  }
  #activateuserbtn {
    border: 1px solid #39CDCC;
    color: #39CDCC;
  }
  #udpmiddle {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 30px 10px 0px 10px;
    background: #FFFFFF;
    border: 1px solid rgba(33, 63, 125, 0.06);
    -webkit-box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
            box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    margin-top: 20px;
  }
  #udpmtop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 51px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 5px 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #udpmavatar {
    width: 70px;
    height: 70px;
    margin-left: 5px;
  }
  .udpmdiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
  }
  .udpmdiv div {
    margin-bottom: 10px;
  }
  .udpmdiv:nth-child(2) {
    margin-left: 10px;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .udpmdiv:nth-child(3) {
    width: 40%;
    margin-top: 15px;
  }
  .udpmdiv:nth-child(4) {
    width: 52%;
    margin-top: 15px;
  }
  #udpmname {
    font-family: 'WorkSansMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #213F7D;
  }
  #udpmid {
    font-family: 'WorkSansRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #545F7D;
  }
  #usertier {
    font-family: 'WorkSansMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: #545F7D;
  }
  #udpmstarcont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'WorkSansMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #545F7D;
    width: 100%;
  }
  #udpmstarcont img {
    width: 17px;
    height: 17px;
    margin-right: 5.5px;
  }
  #udpmcash {
    font-family: 'WorkSansMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #213F7D;
  }
  #udpmbank {
    font-family: 'WorkSansRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #213F7D;
  }
  #udpmbtm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .udpmlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 15%;
    height: 29px;
    font-family: 'SFCompactTextRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
    padding: 5px 0px;
    color: rgba(0, 0, 0, 0.8);
  }
  .udpmlist:hover {
    cursor: pointer;
  }
  .udpmlistactive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 0px;
    font-family: 'WorkSansMedium';
    width: 16%;
    height: 29px;
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
    color: #39CDCC;
    border: none;
    border-bottom: 2px solid #39CDCC;
  }
  .udpmlistactive:hover {
    cursor: pointer;
  }
  #udpbtm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 30px 10px 0px 10px;
    width: 100%;
    height: auto;
    background: #FFFFFF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid rgba(33, 63, 125, 0.06);
    -webkit-box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
            box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    margin-top: 30px;
  }
  .udpbrow {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border: none;
    border-bottom: 1px solid rgba(33, 63, 125, 0.1);
    margin-bottom: 30px;
  }
  .udpbheader {
    font-family: 'WorkSansMedium';
    font-style: normal;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #213F7D;
  }
  .udpbbody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .udpbcell {
    min-width: 40%;
    max-width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 20px;
    padding: 10px 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .udpbtop {
    font-family: 'WorkSansRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
    margin-bottom: 8px;
  }
  .udpbbtm {
    font-family: 'WorkSansMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #545F7D;
  }
  /*Filter Form*/
  #filterform {
    width: 270px;
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 20px;
    position: fixed;
    background: #FFFFFF;
    top: 85px;
    margin: auto;
    border: 1px solid rgba(84, 95, 125, 0.14);
    -webkit-box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
            box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
  }
  .filterp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 5px;
  }
  .filterlabel {
    margin-bottom: 6px;
    font-family: 'WorkSansMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #545F7D;
  }
  .filterinput {
    background: #FFFFFF;
    padding: 12px 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 220px;
    height: 40px;
    border: 1px solid rgba(33, 63, 125, 0.2);
    border-radius: 8px;
    font-family: 'WorkSansRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(84, 95, 127, 0.7);
  }
  .filterselect {
    background: #FFFFFF;
    padding: 12px 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 220px;
    height: 40px;
    border: 1px solid rgba(33, 63, 125, 0.2);
    border-radius: 8px;
    font-family: 'WorkSansRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(84, 95, 127, 0.7);
  }
  #filterbtndiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-top: 15px;
  }
  #filterbtndiv div {
    font-family: 'WorkSansRegular';
    border-radius: 8px;
    width: 98px;
    height: 40px;
    font-style: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
  }
  #filterbtndiv div:hover {
    cursor: pointer;
  }
  #resetbtn {
    color: #545F7D;
    background-color: #FFFFFF;
    border: 1px #545F7D solid;
  }
  #filterbtn {
    color: #FFFFFF;
    background: #39CDCC;
    border: 1px solid #39CDCC;
  }
  /*More*/
  #moreoptdiv {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 20px;
    width: 180px;
    position: absolute;
    height: 130px;
    background: #FFFFFF;
    border: 1px solid rgba(84, 95, 125, 0.04);
    -webkit-box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
            box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .moreoptrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 10px 0px;
    font-family: 'WorkSansMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #545F7D;
  }
  .moreoptrow:hover {
    cursor: pointer;
  }
  .moreoptimg {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    font-family: 'WorkSansMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #545F7D;
  }
  /*Others*/
  #dashboardpage {
    background: #FBFBFB;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  #mainbody {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
  }
}
/*# sourceMappingURL=mobile.css.map */